body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
}

h2 {
  font-size: 30px;
}

 a {
   color: white;
   text-decoration: underline;
 }

/*header*/
header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.9);
  min-height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  top: 0%;
  padding: 10px 0px 30px 10px;
}

.logo {
  height: 50px;
  align-self: flex-start;
}

.menu-items {
  margin: 20px 50px 0px 0px;
 }

.outer-container{
  display: flex;
  justify-content: center;
}

.mission-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-repeat: no-repeat;
  height: 700px;
  width: 1000px;
  margin-top: 110px;
}

.mission {
  background-color: black;
  align-items: center;
}
