body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: rgba(0, 0, 0, 1);
  text-align: center;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}
 h5 {
   font-size: 14px;
 }

 a {
   color: white;
   text-decoration: underline;
 }

/*header*/
header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.9);
  min-height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  top: 0%;
  padding: 10px 0px 30px 10px;
}

.logo {
  height: 50px;
  align-self: flex-start;
}

.menu-items {
  margin: 20px 50px 0px 0px;
 }

/*Mission container*/
.outer-container{
  display: flex;
  justify-content: center;
  margin-top: 111px;
  margin-bottom: 30px;
}

.mission-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-repeat: no-repeat;
  height: 700px;
  width: 1200px;
}

.mission {
  background-color: black;
  align-items: center;
}

/*TeaMonth container*/

.feature-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-headline {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1200px;
}

.tea {
  margin: 10px;
}

/*location container*/

.location-outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-repeat: no-repeat;
  height: 500px;
  width: 1200px;
  margin-top: 30px;
}

.location-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.locations-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.locations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  width: 300px;
  height: 300px;
  margin: 20px;
}

/*footer*/

.footer-info {
  padding-top: 20px;
  background-color: black;
  height: 200px;
}

.footer-copyright {
 padding-left: 20px;
 text-align: left;
 background-color: black;
}
